In [1]:
# This ensures visualizations are plotted inside the notebook
#%matplotlib inline

import os              # This provides several system utilities
import pandas as pd    # This is the workhorse of data munging in Python
import matplotlib.pyplot as plt
import seaborn as sns  # This allows us to easily and beautifully plot

In [62]:
f = 'data/29240311.log'    # Path to file containing the table
df = pd.read_csv(f, header=None, skiprows=[0, 1, 2])

In [63]:
df = df[[2, 3, 7, 9]]

In [64]:
df.columns = ['time', 'cpm', 'lat', 'lon']

In [65]:
df.head()

                   time  cpm        lat        lon
0  2017-03-11T13:20:01Z   24  4542.4271  1342.8265
1  2017-03-11T13:20:06Z   24  4542.4270  1342.8263
2  2017-03-11T13:20:11Z   26  4542.4270  1342.8270
3  2017-03-11T13:20:16Z   29  4542.4271  1342.8273
4  2017-03-11T13:20:21Z   31  4542.4273  1342.8272

In [71]:
# http://www.directionsmag.com/site/latlong-converter/
def to_decimal_degree(coord):
    degree = int(coord/100)
    decimal_min = coord - degree*100
    return degree + decimal_min/60

In [70]:
df.lat = df.apply(lambda z: to_decimal_degree(z.lat), axis=1)
df.lon = df.apply(lambda z: to_decimal_degree(z.lon), axis=1)

In [72]:
df.head()

                   time  cpm       lat       lon
0  2017-03-11T13:20:01Z   24  0.761785  0.228563
1  2017-03-11T13:20:06Z   24  0.761785  0.228563
2  2017-03-11T13:20:11Z   26  0.761785  0.228563
3  2017-03-11T13:20:16Z   29  0.761785  0.228563
4  2017-03-11T13:20:21Z   31  0.761785  0.228563