In [1]:
# This ensures visualizations are plotted inside the notebook
#%matplotlib inline

import os              # This provides several system utilities
import pandas as pd    # This is the workhorse of data munging in Python
import matplotlib.pyplot as plt
import seaborn as sns  # This allows us to easily and beautifully plot

In [79]:
f = 'data/29240311.log'    # Path to file containing the table
df = pd.read_csv(f, header=None, skiprows=[0, 1, 2])

In [80]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,$BNRDD,2924,2017-03-11T13:20:01Z,24,5,24,V,4542.4271,N,1342.8265,E,9.3,A,9,98*64
1,$BNRDD,2924,2017-03-11T13:20:06Z,24,0,24,V,4542.4270,N,1342.8263,E,9.4,A,9,95*6B
2,$BNRDD,2924,2017-03-11T13:20:11Z,26,2,26,V,4542.4270,N,1342.8270,E,9.5,A,9,95*6C
3,$BNRDD,2924,2017-03-11T13:20:16Z,29,3,29,V,4542.4271,N,1342.8273,E,8.8,A,9,95*64
4,$BNRDD,2924,2017-03-11T13:20:21Z,31,2,31,V,4542.4273,N,1342.8272,E,8.7,A,9,95*6D

In [81]:
df = df[[2, 3, 7, 9]]

In [82]:
df.columns = ['time', 'cpm', 'lat', 'lon']

In [83]:
df.head()

                   time  cpm        lat        lon
0  2017-03-11T13:20:01Z   24  4542.4271  1342.8265
1  2017-03-11T13:20:06Z   24  4542.4270  1342.8263
2  2017-03-11T13:20:11Z   26  4542.4270  1342.8270
3  2017-03-11T13:20:16Z   29  4542.4271  1342.8273
4  2017-03-11T13:20:21Z   31  4542.4273  1342.8272

In [84]:
# http://www.directionsmag.com/site/latlong-converter/
def to_decimal_degree(coord):
    degree = int(coord/100)
    decimal_min = coord - degree*100
    return degree + decimal_min/60

In [85]:
df.lat = df.apply(lambda z: to_decimal_degree(z.lat), axis=1)
df.lon = df.apply(lambda z: to_decimal_degree(z.lon), axis=1)

In [86]:
df.head()

                   time  cpm        lat        lon
0  2017-03-11T13:20:01Z   24  45.707118  13.713775
1  2017-03-11T13:20:06Z   24  45.707117  13.713772
2  2017-03-11T13:20:11Z   26  45.707117  13.713783
3  2017-03-11T13:20:16Z   29  45.707118  13.713788
4  2017-03-11T13:20:21Z   31  45.707122  13.713787

In [88]:
df.to_csv('data/log_cleaned.csv', index=False)